# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Università\Java\IntelliJ\Projects\PgAr2021_ProgrammazioneDiFondamenti_RovinePerdute\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
